@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 219, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition: all .15s ease-in-out;
}

* ::-webkit-scrollbar{
  display: none;
}

.maskE {
  mask-image: url(https://ablexerb.sirv.com/Images/mask-bend.png);
  mask-mode: alpha;
  mask-size: auto;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 740px) {
  .maskE {
    mask-image: url(https://ablexerb.sirv.com/Images/mask.png);
    mask-size: 20rem;
    width: auto;
  }
  
}

.ptn::after {
  content: "";
  height: 50rem;
  position: absolute;
  width: 50rem;
  top: 0rem;
  left: 0rem;
  opacity: .5;
  pointer-events: none;
  border: 1px solid #fff;
  border-radius: 50%;
}

.ptn::before {
  content: "";
  height: 50rem;
  width: 50rem;
  border: 1px solid #fff;
  opacity: .5;
  pointer-events: none;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
}
.test1::before {
  content: url('/icons/check.svg');

  position: absolute;
  left: -4px; top: -30px;
}

/* .scrollh-btn:hover  */
.scrollh-btn::before{
  content: url('/icons/Right.svg');

  position: absolute;
  right: 135px; bottom: -310px;
}

/* dev */
.border-it{
  border: 2px solid red
}
.outline-it{
  outline: 2px solid red
}